<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <style>
    [v-cloak] { display: none; }
  </style>
</head>
<body>
  <div id="app" v-cloak>
    <div v-repeat="todo: todos">
      <input type="checkbox" v-model="todo.completed">
      {{todo.content}} 
      <span v-show="todo.completed">完了</span>
      <span v-show="!todo.completed">未完了</span>
      <!-- 
      <span v-if="todo.completed">完了</span>
      <span v-if="!todo.completed">未完了</span>
      -->
    </div>
  </div>
  <script src="/js/lib/vue.js"></script>
  <script src="app.js"></script>
</body>
</html>
